{
   "id": "12354",
   "service_account_id": "98686",
   "created_at": "2023-09-02T14:14:41.288847474Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----\nsometext\n-----END PUBLIC KEY-----\n",
   "private_key": "-----BEGIN PRIVATE KEY-----\nsomeothertext\n-----END PRIVATE KEY-----\n"
}
